<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://artifact.game/artifae7_artifact?useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC</property>
    <property name="hibernate.connection.username">artifae7_artifac</property>
    <property name="hibernate.connection.password">h56&amp;(,zN4t@o</property>
    <mapping resource="entities/Chdg4ArtifactgameCard.hbm.xml"/>
    <mapping resource="entities/Chdg4K2Items.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
